<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂單</title>
  </head>
  <body>
    <%= order.orderId%> <%= order.amount%> <%= order.packages[0].id%>
    <form action="/createOrder/<%= order.orderId %> " method="post">
      <button type="submit">送出訂單</button>
    </form>
  </body>
</html>
